*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.right{
    float: right;
    line-height: 30PX;
}
.right button{
    color: white;
    background: #4285f4;
    border: none;
    width: 50px;
    height: 30px;
    border-radius: 3px;
}
ul{
    list-style: none;
}
li{
    float: left;
    padding-right: 20px;
}
.google{
    text-align: center;
    padding-bottom: 10px;
}
.search{
    border-radius: 30px;
    border: 1px solid #dfe1e5;
    width: 38%;
    height: 48px;
    margin: 0px auto;
    padding-top: 8px;
    padding-left: 12px;
}
.search:hover{
    box-shadow: 0px 0px 6px #c2c2c2;
}
.text{
    text-align: center;
    vertical-align: center;
}
.text input{
    display: inline-block;
    width: 85%;
    height: 30px;
    margin: 0px auto;
    margin-left: 7px;
    border: none;
    text-align: left;
    float: left;
    margin-top: 0px;
}
input:focus{
    outline: none;
}
.button button{
    background-color: #f2f2f2;
    color: #5F6368;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
    height: 40px;
    width: 80px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 25px;
}
.button button:first-child{
    width: 110px;
    margin-right: 5px;
}
.button{
    text-align: center;
    clear: both;
}
footer{
    position: fixed;
    bottom: 0%;
    width: 100%;
    padding: 0 29px;
    font-size: 15px;
    line-height: 40px;
    background: #f2f2f2;
}
.top{
    border-top: 1px solid #e4e4e4;
}
.under{
    font-size: 13px;
    border-top: 1px solid #e4e4e4;
}
p{
     color: #5f6368;
}
a{
    text-decoration: none;
    color: #5f6368;
}
a:hover{
    text-decoration: underline;
}
header{
    margin: 22px 0 0 25px;
    font-size: 13px;
    padding-bottom: 110px;
}
.voice{
    width: 50px;
    float: left;
    margin: 0px auto;
}
#glass{
    margin: 0px auto;
    float: left;
    margin-top: 3px;
} 