*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #FAFAFA;
}
.wrapper{
    height: 100%;
}
.content{
    width: 55%;
    background: #FAFAFA;
    margin: 30px auto 0px auto;
    text-align: center;
    height: 620px;
}
.content_left{
    width: 440px;
    float: left;
}
.content_left img{
    width: 415px;
    height: 625px;
}
.content_right{
    width: 350px;
    float: left;
    background: #FAFAFA;
}
.top{
    text-align: center;
    border: 1px solid #dbdbdb;
    width: 350px;
    height: 380px;
    margin: 30px auto 0 auto;
    background: white;
}
.image{
    padding: 20px;
}
.num,
.pwd{
    width: 80%;
    height: 38px;
    margin: 0px auto;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    background: #FAFAFA;
}
.pwd{
    margin-top: 7px;
}
.top input{
    width: 90%;
    height: 36px;
    margin: 0 auto;
    border: none;
    background: #FAFAFA;
    outline: none;
}
.signin button{
    width: 80%;
    height: 30px;
    border-radius: 3px;
    border: none;
    margin: 13px 0;
    background: #3897F0;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.or{
    width: 80%;
    height:20px;
    margin: 0 auto;
}
hr{
    width: 116px;
    float: left;
    background: #dbdbdb;
    border: 1px solid #dbdbdb;
    margin-top: 10px;
}
.or p{
    float: left;
    padding: 0px 15px;
}
.fb{
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    line-height: 30px;
}
.forget{
    font-size: 12px;
    line-height: 30px;
    text-align: center;
}
a{
    text-decoration: none;
    color: #385185;
}
.fb img{
    vertical-align: middle;
}
.fb button{
    background: none;
    color: #385185;
    border: none;
    outline: none;
    margin: 0 auto;
    font-weight: bold;
}
.middle{
    text-align: center;
    border: 1px solid #dbdbdb;
    height: 65px;
    width: 100%;
    line-height: 65px;
    width: 350px;
    margin: 20px auto 0 auto;
    background: white;
    font-size: 15px;
}
.middle a{
    color: #3897f0;
    font-weight: bold;
}
.bottom{
    text-align: center;
    padding-bottom: 30px;
}
.bottom p{
    margin: 20px 0px;
}
.bottom button{
    width: 136px;
    height: 40px;
    margin: 0px 5px;
    border: 3px solid;
    border-radius: 3px;
}
.bottom img{
    margin: -2px 0px 0px -2px;
}
footer{
    width: 100%;
    position: fixed;
    bottom: 0%;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 16%;
    background: #FAFAFA;
    font-size: 12px;
}
ul{
    list-style: none;
}
li{
    float: left;
    margin: 0px 8px;
}
.footer_left{
    width: 70%;
    color: #385185;
    font-weight: bold;
}
.footer_right{
    float: right;
    padding-right: 25%;
    color: #999999;
}